@media all and (min-width: 2000px) {
  .about-wrapper {
    width: 50%;
  }
}

@media all and (max-width: 1675px) {
  .about-wrapper {
    width: 65%;
  }
}

@media all and (max-width: 1535px) {
  .about-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 1420px) {
  .about-wrapper {
    width: 75%;
  }
}

@media all and (max-width: 1320px) {
  .about-wrapper {
    width: 80%;
  }
}

@media all and (max-width: 1250px) {
  .about-wrapper {
    .about-bottom {
      height: calc(450px * 2 + 75px);

      .about-section {
        width: 450px;
        height: 450px;

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 3px 0;
                th {
                  padding-bottom: 0;
                  font-size: 22px;
                }

                tr {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1150px) {
  .about-wrapper {
    .about-bottom {
      height: calc(400px * 2 + 75px);

      .about-section {
        width: 400px;
        height: 400px;

        .about-header {
          font-size: 210%;
        }

        .about-body {
          .about-text {
            padding: 23px 1rem 1.5rem;
            font-size: 18px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 4px 0;
                th {
                  padding-bottom: 0;
                  font-size: 20px;
                }

                tr {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .about-wrapper {
    .about-bottom {
      height: calc(350px * 3 + 75px);
      .about-section {
        width: 600px;
        height: 350px;

        &:nth-child(2) {
          top: 35%;
        }

        .about-header {
          font-size: 200%;
        }

        .about-body {
          .about-text {
            padding: 30px 1rem 1.5rem;
            font-size: 18px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 8px 0;
                th {
                  padding-bottom: 0;
                  font-size: 20px;
                }

                tr {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .about-wrapper {
    .about-bottom {
      height: calc(300px * 3 + 75px);

      .about-section {
        width: 550px;
        height: 300px;

        .about-header {
          font-size: 150%;
        }

        .about-body {
          .about-text {
            padding: 20px 1rem 1.5rem;
            font-size: 17px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 3px 0;
                th {
                  padding-bottom: 0;
                  font-size: 17px;
                }

                tr {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .about-wrapper {
    .about-bottom {
      height: calc(300px * 3 + 75px);

      .about-section {
        width: 500px;

        &:nth-child(2) {
          top: 34%;
        }

        .about-header {
          font-size: 145%;
        }

        .about-body {
          .about-text {
            padding: 20px 1rem 1.5rem;
            font-size: 16px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 6px 0;
                th {
                  padding-bottom: 0;
                  font-size: 17px;
                }

                tr {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 565px) {
  .about-wrapper {
    width: 90%;

    .about-bottom {
      .about-section {
        width: 450px;
        
        .about-header {
          font-size: 140%;
        }

        .about-body {
          .about-text {
            padding: 20px 1rem 1.5rem;
            font-size: 15px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 6px 0;
                th {
                  padding-bottom: 0;
                  font-size: 17px;
                }

                tr {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 485px) {
  .about-wrapper {
    .about-bottom {
      .about-section {
        width: 400px;

        .about-header {
          font-size: 135%;
        }

        .about-body {
          .about-text {
            padding: 18px 1rem 1.5rem;
            font-size: 15px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 4px 0;
                th {
                  padding-bottom: 0;
                  font-size: 16px;
                }

                tr {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 430px) {
  .about-wrapper {
    .about-bottom {
      .about-section {
        width: 350px;

        .about-header {
          font-size: 130%;
        }

        .about-body {
          .about-text {
            padding: 20px 1rem 1.5rem;
            font-size: 14px;
          }
        }

        &:nth-child(3) {
          .about-body {
            .about-text {
              table {
                padding: 4px 0;
                th {
                  padding-bottom: 0;
                  font-size: 16px;
                }

                tr {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}