@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

//COLORS
$black: #080a12;
$off-white: #e1e5f0;
$white: #cacedb;
$placeholder: #4a516b;
$background: #162438;
$header-background: #343d46;
$background-gradient: linear-gradient(135deg, rgba(255, 255, 255, .05), rgba(255, 255, 255, 0.03));
$button: #0d1c36;
$btn-disabled: rgba(255, 255, 255, .05);

//FONTS
$font-main: 'Urbanist', sans-serif;