* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white: white;
    --navbackgroud: #01010d;
    --background: #020212;
    --fade-one: #a7adba;
    --fade-two: #65737e;
    --fade-three: #343d46;
    --fade-four: #343d46;
  }
  
  
  html {
    background: var(--background); 
  }