@import '../../variables.scss';

.work-wrapper {
  background: $black;
  width: 80%;
  margin: 0 auto;

  .workpage-header {
    font-family: $font-main;
    font-size: 48px;
    text-shadow: 3px 2px 2px $header-background;
    margin: 2rem 0 .5rem 0;
  }
  
  .workpage-subheader {
    font-family: $font-main;
    font-size: 22px;
    margin-bottom: 3rem;

  }
}