@media all and (max-width: 1200px) {
  .contact-wrapper {
    width: 35%;
  }
}

@media all and (max-width: 1000px) {
  .contact-wrapper {
    width: 40%;
  }
}

@media all and (max-width: 900px) {
  .contact-wrapper {
    width: 45%;

    .temp-contact-wrapper {
      .temp-right {
        text-align: right;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .contact-wrapper {
    width: 50%;
  }
}

@media all and (max-width: 600px) {
  .contact-wrapper {
    width: 60%;
  }
} 

@media all and (max-width: 400px) {
  .contact-wrapper {
    width: 90%;
  }
}