@media all and (max-width: 1200px) {
  .contact-wrapper {
    width: 35%;
  }
}

@media all and (max-width: 1000px) {
  .contact-wrapper {
    width: 40%;
  }
}

@media all and (max-width: 900px) {
  .contact-wrapper {
    width: 45%;

    .contact-form {
      .submit-btn {
        padding: 10px 5px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .contact-wrapper {
    width: 50%;

    .contact-form {
      .submit-btn {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .contact-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 700px) {
  .contact-wrapper {
    width: 80%;
  }
}

@media all and (max-width: 400px) {
  .contact-wrapper {
    width: 90%;
  }
}
