@import "../../variables.scss";

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 14vh);
  width: 30%;
  margin: 0 auto;

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: $background-gradient;
    border-radius: 20px;

    .header-label {
      font-family: $font-main;
      margin: 8px 0;
      font-size: 28px;
    }

    .subheader-label {
      font-size: 24px;
    }

    .contact-message-wrapper {
      position: relative;

      svg {
        position: absolute;
        color: $black;
        right: 1rem;
        top: 8px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &.active {
          transform: rotate(180deg);
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .contact-message {
        resize: none;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        padding: 12px 60px 12px 12px;
        font-family: $font-main;
        font-size: 20px;
        letter-spacing: 1px;
        background: $off-white;
        transition: 0.2s ease-in-out;

        &.active {
          height: 200px;
        }
      }
    }

    .submit-btn {
      margin-left: auto;
      margin-top: 0.6rem;
      padding: 10px;
      border-radius: 5px;
      width: 50%;
      color: $white;
      background: $button;
      font-family: $font-main;
      font-size: 22px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:disabled {
        background: $btn-disabled;
      }
    }

    .form-label-group {
      position: relative;
      &:nth-child(2) {
        margin-bottom: 1rem;
      }

      .form-control {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background: $off-white;
      }

      input,
      label {
        padding: 12px;
        font-family: $font-main;
        font-size: 20px;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        color: $placeholder;
        transition: all 0.1s ease-in-out;
      }

      ::placeholder {
        color: transparent;
      }

      input:not(:placeholder-shown) {
        padding-top: 20px;
        padding-bottom: 4px;
      }
      input:not(:placeholder-shown) ~ label {
        font-size: 12px;
        padding: 4px 12px;
      }
    }
  }
}

// TEMP

.temp-contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem;
  background: $background-gradient;
  border-radius: 20px;
  font-family: $font-main;

  .temp-left {
    svg {
      position: absolute;
      bottom: -12px;
      right: 4px;
      transform: rotate(90deg);
      animation: arrow 2s infinite forwards;
      color: $white;
    }
  }

  .temp-right {
    
    svg {
      margin-right: 5px;
    }
  }

  .temp-left,
  .temp-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .temp-contact {
      font-size: 110%;
      color: $white;
      text-align: right;

      &:nth-child(1) {
        margin-bottom: 8px;
      }
    }
    
    a {
      position: relative;
      width: fit-content;
      transition: 0.3s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
        transform-origin: bottom right;
        transition: transform .3s ease-out;
      }

      &:hover {
        opacity: .6;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

@keyframes arrow {
  0% {
    right: 4px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 4px;
  }
}
