@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

:root {
    --white: white;
    --navbackgroud: #01010d;
    --background: #01010d;
    --fade-one: #a7adba;
    --fade-two: #65737e;
    --fade-three: #343d46;
    --fade-four: #343d46;

    --font: 'Urbanist', sans-serif;
}

* {
    font-family: var(--font);
    color: white;
}

.contact-wrapper {
    display: grid;
    place-items: center;
    height: 88vh;
    width: 100%;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 85%;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contact-form-text {
    padding: 0.5rem 1rem;
    color: var(--background);
    box-shadow: 5px 5px 3px var(--fade-three);
    border-radius: 5px;
    resize: none;
    height: 10rem;
    font-family: var(--font);
    font-size: 110%;
}

.contact-input {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 3px var(--fade-three);
    border-radius: 5px;
    font-size: 130%;
    color: var(--background);
    background: var(--white);
    transition: 0.2s ease-in-out;
}

.contact-submit-btn:disabled {
  background: var(--fade-two);
}

.divider {
    margin: 1rem 0;
    background: var(--white);
    height: 2px;
}

.error-msg {
    height: 1rem;
    margin-bottom: 2rem;
}

.res-hvr {
    text-decoration: none;
    font-size: 110%;
}

.contact-header {
    font-size: 300%;
    margin-bottom: 1rem;
}

/* ANIMATION */
.contact-input:hover,
.contact-input:focus {
    background: var(--fade-one);
}

.res-hvr:hover,
.res-hvr:focus {
    color: var(--fade-one);
}

.contact-submit-btn:hover,
.contact-submit-btn:focus {
    background: var(--fade-one);
    color: var(--white);
}

.contact-submit-btn:disabled:hover {
  background: var(--fade-two);
  color: black;
}