@media all and (max-width: 768px) {
    .contact-form-wrapper {
        width: 65%;
    }
}

@media all and (max-width: 480px) {
    .contact-form-wrapper {
        width: 75%;
    }
}

@media all and (max-width: 390px) {
  .contact-header {
    font-size: 280%;
  }
}