@media all and (min-width: 1100px) {
  .about-sect-text {
    font-size: 130%;
  }
}

@media all and (max-width: 1100px) {
  .about-sect-text {
    font-size: 123%;
  }

  .about-sect-one {
    height: 300px;
  }
}

@media all and (max-width: 1000px) {
  .about-sect-text {
    font-size: 120%;
  }

  .about-sect-one {
    height: 315px;
  }

  .about-sect-two {
    height: 280px;
  }
}

@media all and (max-width: 840px) {
  .about-sect-one {
    height: 310px;
  }

  .about-sect-two {
    height: 335px;
  }
}

@media all and (max-width: 789px) {
  .about-sect-one {
    height: 370px;
  }

  .about-sect-two {
    height: 345px;
  }
}

@media all and (max-width: 768px) {
  .about-top {
    font-size: 125%;
  }

  .about-header {
    left: 9vw;
  }

  .about-sect {
    width: 65%;
    height: 38%;
  }

  .about-sect-text {
    font-size: 106%;
  }

  .about-sect-one {
    top: 2rem;
    left: 2rem;
  }

  .about-sect-two {
    bottom: 4rem;
    right: 2rem;
  }
}

@media all and (max-width: 637px) {
  .about-sect-text {
    font-size: 100%;
  }
}

@media all and (max-width: 606px) {
  .about-sect-text {
    font-size: 97%;
  }
}

@media all and (max-width: 578px) {
  .about-top {
    font-size: 93%;
  }

  .about-header {
    left: 10vw;
  }

  .about-arrow-down {
    right: 1rem;
  }

  .about-sect {
    width: 80%;
  }

  .about-sect-one {
    height: 205px;
  }

  .about-sect-two {
    height: 190px;
  }
}

@media all and (max-width: 490px) {
  .about-sect-one {
    height: 220px;
  }

  .about-sect-two {
    height: 200px;
  }
}

@media all and (max-width: 480px) {
  .about-top {
    font-size: 80%;
  }

  .about-header {
    left: 12vw;
  }

  .about-sect {
    width: 90%;
  }

  .about-sect-two {
    height: 200px;
  }
}

@media all and (max-width: 440px) {
  .about-sect-one {
    height: 220px;
  }
}

@media all and (max-width: 427px) {
  .about-sect-text {
    font-size: 92%;
  }
}

@media all and (max-width: 390px) {
  .about-header {
    left: 5vw;
  }

  .about-top {
    height: 8vh;
  }

  .about-bottom {
    margin-top: 1rem;
  }

  .about-sect-two {
    bottom: 4rem;
  }
}

@media all and (max-width: 363px) {
  .about-sect-one {
    height: 230px;
  }

  .about-sect-two {
    height: 215px;
    bottom: 2.5rem;
  }
}

@media all and (max-width: 355px) {
  .about-sect-one {
    height: 230px;
  }

  .about-sect-two {
    height: 215px;
    bottom: 3rem;
  }
}