@import '../../variables.scss';

@media all and (max-width: 768px) {
  .nav-wrapper {
    .nav-left {
      li:nth-child(1) {
        margin: 0 .8rem 0 0;
      }
    }

    .nav-right {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      right: 0;
      left: 0;
      top: 4rem;
      height: 0px;
      overflow: hidden;
      background: $background;
      border-radius: 0 0 10px 10px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: -1;

      li {
        margin: .5rem 0;
      }

      &.active {
        height: 50px;
        z-index: 100;
        opacity: 1;
      }
    }

    .hamburger {
      display: block;
      z-index: 1;

      &.active {
        .bar:nth-child(2) {
          width: 25px;
          opacity: 0;
        }
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}